<div class="nav_post">
    <p class="navhdr"><b>Java 新特性:</b></p>
    <ul>
        <li><a href="/overview.html">Java 12 新特性</a></li>
        <li><a href="/overview.html">Java 11 新特性</a></li>
        <li><a href="/overview.html">Java 10 新特性</a></li>
        <li><a href="/overview.html">Java 09 新特性</a></li>
        <li><a href="/overview.html">Java 08 新特性</a></li>
        <li><a href="/overview.html">Java 07 新特性</a></li>
    </ul>
    
    <br>
    <p class="navhdr"><B>Link</B></p>
    <ul>
        <li><a href="linuxperf.html">Github</a><br></li>
        <li><a href="linuxperf.html">Google</a><br></li>
        <li><a href="linuxperf.html">Oracle</a><br></li>
        <li><a href="linuxperf.html">CSDN</a><br></li>
    </ul>
   
    <%- toc(page.content) %>
</div>